Repository anilkumarthakur60/vue3-json-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,html,css}": ["prettier --write"]
}

fix(JsonViewer): update data prop type to include Function and set default to undefined
  src/components/JsonViewer/JsonNode.tsx
  src/components/JsonViewer/components/CopyButton.tsx
  src/components/JsonViewer/components/PrimitiveValue.tsx
Due: none

fix: minor changes
  package.json
Due: prettier --write

fix: minor changes
  docs/api/props.md
Due: prettier --write

fix(build): add @vue/language-core so dts generation works on clean installs
  package-lock.json
  package.json
Due: prettier --write

fix: minor changes
  package-lock.json
Due: prettier --write

chore: migrate package manager and CI from npm to pnpm
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/utils/clipboard.ts
Due: eslint --fix, prettier --write

ci: drop Node 20 from the matrix (pnpm 11 requires Node >= 22.13)
  .github/workflows/ci.yml
  bun.lock
Due: none

chore: ignore bun.lock (pnpm-only project)
  .gitignore
Due: none

ci: add Node 26 to the test matrix
  .github/workflows/ci.yml
Due: none

chore(vercel): deploy the example app with pnpm
  .gitignore
  package.json
  vercel.json
Due: prettier --write

chore(vercel): enable Corepack so the build uses pnpm 11 (matches CI)
  vercel.json
Due: prettier --write

fix(vercel): use pnpm 9 so the deploy works without a workspace file
  .github/workflows/ci.yml
  package.json
  pnpm-workspace.yaml
  vercel.json
Due: prettier --write

fix(vercel): enable Corepack to reliably resolve pnpm 9.15.9 and the lockfile
  vercel.json
Due: prettier --write

fix(vercel): regenerate lockfile with pnpm 9 (drop libc fields pnpm 9 can't read)
  pnpm-lock.yaml
Due: none

fix(vercel): pin pnpm 11 via Corepack and build the app with a direct vite call
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vercel.json
Due: prettier --write

fix(vercel): restore example/ auto-deploy; use pnpm 9 for the main project
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vercel.json
Due: prettier --write

chore: upgrade to pnpm 11 (latest) with build approval in pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

revert: back to pnpm 9 — pnpm 11 is incompatible with the Vercel example/ deploy
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore(release): 0.6.0
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/Demo.vue
  docs/examples/playground.md
  docs/guide/getting-started.md
  package.json
Due: eslint --fix, prettier --write

feat(demo): a real landing page, and fix the broken demo deploy
  .gitignore
  .prettierignore
  index.html
  package.json
  scripts/check-page.mjs
  src/App.vue
  src/landing.css
  src/main.ts
  src/vite-env.d.ts
  vercel.json
  vite.demo.config.ts
Due: eslint --fix, prettier --write

minor changes
  .gitignore
  docs/.vitepress/theme/components/Demo.vue
  docs/api/events.md
  docs/api/plugin.md
  docs/api/props.md
  docs/examples/basic.md
  docs/examples/events.md
  docs/examples/large-json.md
  docs/examples/nested.md
  docs/examples/playground.md
  docs/guide/components.md
  docs/guide/copy.md
  docs/guide/data-types.md
  docs/guide/events.md
  docs/guide/expand-collapse.md
  docs/guide/faq.md
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/guide/quick-start.md
  docs/guide/ssr.md
  docs/guide/styling.md
  docs/guide/theming.md
  docs/index.md
  src/components/JsonViewer/JsonViewer.tsx
  src/components/JsonViewer/context.ts
  src/utils/clipboard.ts
  test/JsonViewer.test.ts
Due: eslint --fix, prettier --write

ci: fix Dependabot auto-merge
  .github/workflows/auto-merge.yml
Due: none
