Repository anilkumarthakur60/vue3-json-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update package.json and release configuration
  .release-it.json
  package.json
Due: prettier --write

feat: add interactive commit interface with commitizen
  package.json
Due: prettier --write

fix: remove generate-notes from release-it config
  .release-it.json
Due: prettier --write

chore: release 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: auto-release added
  README.md
Due: prettier --write

chore: release 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: minor changes
  package.json
Due: prettier --write

fix: minor changes
  package.json
  src/hooks/useJsonViewer.ts
  src/jsx.d.ts
  src/package/components/JsonViewer.ts
  src/package/components/JsonViewer.tsx
  src/package/components/JsonViewer.vue
  src/package/components/NestedComponent.ts
  src/package/components/NestedComponent.tsx
  src/package/components/NestedComponent.vue
  src/package/components/index.ts
  src/package/index.ts
  src/package/types/jsonViewerTypes.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: minor changes
  .github/workflows/ci.yml
  .releaserc.json
  CHANGELOG.md
  COMPREHENSIVE_UPGRADE_SUMMARY.md
  debug_test.js
  example/package.json
  example/src/App.vue
  example/src/components/ComprehensiveDemo.vue
  package.json
  src/hooks/useJsonViewer.ts
  src/jsx.d.ts
  src/package/components/JsonViewer.ts
  src/package/components/NestedComponent.ts
  src/package/components/NestedComponent.tsx
  src/test-setup.ts
  test/components/JsonViewer.test.ts
  test/components/NestedComponent.test.ts
  test/components/comprehensive.test.ts
  test/hooks/useJsonViewer.test.ts
  test/package/index.test.ts
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: minor changes
  example/package.json
  example/src/components/ComprehensiveDemo.vue
  example/tsconfig.app.tsbuildinfo
  example/tsconfig.node.tsbuildinfo
  package.json
  src/App.vue
  src/package/components/NestedComponent.ts
  src/package/hooks/useJsonViewer.ts
  src/package/index.ts
  test/package/index.test.ts
Due: eslint --fix, prettier --write

fix: minor changes
  src/package/components/NestedComponent.vue
Due: eslint --fix, prettier --write

fix: minor changes
  .github/workflows/ci.yml
  src/App.vue
  src/package/components/NestedComponent.vue
Due: eslint --fix, prettier --write

fix: update expanded prop handling in NestedComponent
  src/package/components/NestedComponent.vue
Due: eslint --fix, prettier --write

refactor: restructure Vue3 JSON Viewer package
  package.json
  src/App.vue
  src/components/JsonViewer/JsonViewer.vue
  src/components/JsonViewer/NestedComponent.vue
  src/components/index.ts
  src/hooks/useJsonViewer.ts
  src/index.ts
  src/package/components/index.ts
  src/package/index.ts
  src/package/style/global.scss
  src/package/types/jsonViewerTypes.ts
  src/types/index.ts
  src/types/styles.d.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: add large JSON and nested objects examples to documentation
  .gitignore
  docs/.vitepress/config.ts
  docs/api/plugin.md
  docs/api/props.md
  docs/api/types.md
  docs/examples/basic.md
  docs/examples/dark-mode.md
  docs/examples/large-json.md
  docs/examples/nested.md
  docs/guide/copy.md
  docs/guide/expand-collapse.md
  docs/guide/getting-started.md
  docs/guide/installation.md
  docs/guide/quick-start.md
  docs/guide/theming.md
  docs/index.md
  docs/public/logo.svg
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: minor changes
  .github/workflows/ci.yml
  docs/.vitepress/config.ts
  package.json
Due: eslint --fix, prettier --write

Refactor code structure for improved readability and maintainability
  .gitignore
  package-lock.json
Due: prettier --write

fix: minor changes
  .github/workflows/ci.yml
Due: none

feat(JsonViewer): add components for array, object, and primitive value rendering
  src/components/JsonViewer/NestedComponent.vue
  src/components/JsonViewer/components/ArrayRow.vue
  src/components/JsonViewer/components/CopyButton.vue
  src/components/JsonViewer/components/ObjectRow.vue
  src/components/JsonViewer/components/PrimitiveValue.vue
  src/components/JsonViewer/components/RootControls.vue
  src/components/JsonViewer/components/TypeBadge.vue
  src/components/JsonViewer/components/index.ts
  src/components/JsonViewer/styles/json-viewer.scss
Due: eslint --fix, prettier --write

refactor: migrate JsonViewer components to TypeScript with functional components
  src/components/JsonViewer/JsonViewer.tsx
  src/components/JsonViewer/JsonViewer.vue
  src/components/JsonViewer/NestedComponent.tsx
  src/components/JsonViewer/NestedComponent.vue
  src/components/JsonViewer/components/ArrayRow.tsx
  src/components/JsonViewer/components/ArrayRow.vue
  src/components/JsonViewer/components/CopyButton.tsx
  src/components/JsonViewer/components/CopyButton.vue
  src/components/JsonViewer/components/ObjectRow.tsx
  src/components/JsonViewer/components/ObjectRow.vue
  src/components/JsonViewer/components/PrimitiveValue.tsx
  src/components/JsonViewer/components/PrimitiveValue.vue
  src/components/JsonViewer/components/RootControls.tsx
  src/components/JsonViewer/components/RootControls.vue
  src/components/JsonViewer/components/TypeBadge.tsx
  src/components/JsonViewer/components/TypeBadge.vue
  src/components/JsonViewer/components/index.ts
  src/components/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: update demo image to reflect recent changes
  demo.png
Due: none

Refactor code structure for improved readability and maintainability
  README.md
  docs/guide/installation.md
  docs/index.md
  docs/public/images/demo.png
Due: prettier --write

fix: update version to 0.4.0 in package.json
  package.json
Due: prettier --write

fix: set base path for VitePress configuration
  docs/.vitepress/config.ts
Due: eslint --fix, prettier --write

chore: remove tracked ignored files
  .gitignore
  NUXT_SUPPORT.md
  README.md
  docs/.vitepress/config.ts
  docs/guide/nuxt.md
  package.json
  src/nuxt.ts
  src/runtime/components/index.ts
  src/runtime/plugin.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: remove Nuxt 3 & Nuxt 4 support documentation
  NUXT_SUPPORT.md
Due: prettier --write

fix: update .gitignore to include VitePress cache and distribution files
  .gitignore
Due: none

fix: update dependencies and add TypeScript build info files
  example/package.json
  example/tsconfig.app.tsbuildinfo
  example/tsconfig.node.tsbuildinfo
Due: prettier --write

fix: update package.json for correct CSS path and enhance .npmignore
  .npmignore
  package.json
Due: prettier --write

fix: minor changes
  example/package.json
Due: prettier --write

image sample added to public
  public/images/demo.png
Due: none

fix: update version to 0.4.1 and correct homepage URL
  package.json
Due: prettier --write

Add workflow for auto-merging Dependabot PRs
  .github/workflows/auto-merge.yml
Due: none

Update Node.js versions in CI workflow
  .github/workflows/ci.yml
Due: none

Modify CI workflow permissions and clean up steps
  .github/workflows/ci.yml
Due: none

feat(JsonViewer): implement JsonNode component for rendering JSON structures
  bun.lock
  src/components/JsonViewer/JsonNode.tsx
  src/components/JsonViewer/JsonViewer.tsx
  src/components/JsonViewer/NestedComponent.tsx
  src/components/JsonViewer/components/ArrayRow.tsx
  src/components/JsonViewer/components/ContainerRow.tsx
  src/components/JsonViewer/components/CopyButton.tsx
  src/components/JsonViewer/components/ObjectRow.tsx
  src/components/JsonViewer/components/PrimitiveValue.tsx
  src/components/JsonViewer/components/RootControls.tsx
  src/components/JsonViewer/components/TypeBadge.tsx
  src/components/JsonViewer/components/index.ts
  src/components/index.ts
  src/index.ts
  src/types/index.ts
  src/utils/clipboard.ts
  src/utils/formatters.ts
  src/utils/index.ts
  src/utils/theme.ts
  src/utils/type-guards.ts
Due: eslint --fix, prettier --write

fix: minor changes
  src/components/JsonViewer/JsonNode.tsx
  src/components/JsonViewer/components/ContainerRow.tsx
  src/components/JsonViewer/components/CopyButton.tsx
  src/components/JsonViewer/components/PrimitiveValue.tsx
  src/components/JsonViewer/components/RootControls.tsx
  src/components/JsonViewer/components/TypeBadge.tsx
  src/utils/formatters.ts
  src/utils/theme.ts
  src/utils/type-guards.ts
Due: eslint --fix, prettier --write

fix: minor changes
  .npmignore
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: minor changes
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,html,css})
